@model NBPDom1i2.ViewModels.MovieDetail
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="col-sm-5">
            <h2>@Html.DisplayFor(m => Model.movie.title)</h2>
            <br />
            @if((string)Session["Rented"]=="yes")
            {
                Session["Rented"] = "no";
                <h3 style="color:orangered">You have already rented this title.</h3>
            }
            <div>
                Genre: @Html.DisplayFor(m => Model.genre)
            </div>
            <br />
            <div>
                Description: @Html.DisplayFor(m => Model.movie.description)
            </div>
            <br />
            <div>
                Release date: @Html.DisplayFor(m => Model.movie.released)
            </div>
            <br />
            <div>
                Director: @Html.DisplayFor(m => Model.director)
            </div>
            <br />
            <div class="list-group">
                Cast:
                <br />
                <ul class="list-group">
                    @foreach (string s in Model.actors)
                    {
                        <li style="margin-left: 30px">
                            @s
                        </li>
                    }
                </ul>

            </div>
            <br />

            @if ((string)Session["role"] == "admin")
            {
                using (Html.BeginForm("AdminEdit", "Movies"))
                {
                    <div> Available copies: @Html.TextBoxFor(m => Model.movie.copies)</div>
                    <div class="form-group">
                        @Html.HiddenFor(m => Model.movie.title)
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                }
            }
            else
            {
                <div>
                    Available copies: @Html.DisplayFor(m => Model.movie.copies)
                </div>
                if ((string)Session["role"] == "customer")
                {
                    if (Model.movie.copies > 0)
                    {
                        using (Html.BeginForm("Rent", "Movies"))
                        {
                            <div class="form-group">
                                @Html.HiddenFor(m => Model.movie.copies)
                                @Html.HiddenFor(m=>Model.movie.title)
                                <button type="submit" class="btn btn-primary">Rent</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" disabled>Rent</button>
                        </div>
                    }
                }
            }
        </div>
        
    </div>

