@model NBPDom1i2.ViewModels.TitleGenreActorDirectorView
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <h2>
        Movies
    </h2>
    <br />
    @if ((string)Session["role"] == "admin")
    {
        using (Html.BeginForm("Add", "Movies"))
        {
            <button type="submit" class="btn btn-primary">Add movie</button>
        }
    }
    <br />
    <div class="row">
        <div class="col-sm-8">
            <table id="movies" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NBPDom1i2.ViewModels.MovieGenre d in Model.moviegenre)
                    {
                        <tr>
                            <td><a href="http://localhost:51894/Movie/@d.movietitle">@d.movietitle</a></td>
                            <td>@d.moviegenre</td>
                            @if ((string)Session["role"] == "admin")
                            {


                                <td>
                                    @using (Html.BeginForm("DeleteMovie", "Movies"))
                                    {
                                        <input type="hidden" value="@d.movietitle" name="Title" />
                                        <button type="submit" class="btn btn-primary">Delete</button>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @using (Html.BeginForm("GetMovies", "Movies"))
        {<div class="col-sm-4">
                <div class="form-group">
                    @Html.Label("Search")
                    @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                </div>
                <div class="dropdown">
                    @Html.Label("genres")
                    @Html.DropDownListFor(m => m.genres, new SelectList(Model.genres), new { @class = "form-control" })
                </div>
                <br />
                <div class="dropdown">
                    @Html.Label("directors")
                    @Html.DropDownListFor(m => m.directors, new SelectList(Model.directors), new { @class = "form-control" })
                </div>
                <br />
                <div class="dropdown">
                    @Html.Label("actors")
                    @Html.DropDownListFor(m => m.actors, new SelectList(Model.actors), new { @class = "form-control" })
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        }
    </div>
</div>

